@import url("../index.css");

.attribution{
 width:auto;
 margin:10px auto;
 display:flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 padding:0;
}

.attribution__text{
    display:inherit;
    flex-direction: inherit;
    align-items: inherit;
    justify-content: inherit;
    width:auto;
}

.attribution__link{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:0 5px;
    color:var(--White);
    padding:0;
    height:22px;
}

.attribution__link:link{
    text-decoration: none;
}

.attribution__link:visited{
    text-decoration: none;
}

.attribution__link:hover{
    text-decoration: none;
    height:20px;
    border-bottom: 1px solid var(--White);
}    
