@import url("../App/App.css");
@import url("../index.css");

.card-response__image{
    padding:15px;
    border-radius:50%;
    margin:10px 10px;
    background-color: rgba(158, 158, 158, 0.122);
}

.card-response__title{
    color:white;
    font-weight: var(--FontMediumWeight);
    margin:10px 0;
}
.card-response__text{
    width:320px;
    font-size:var(--FontSizeParagraph);
}